@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Poppins:wght@400;600&display=swap');

/*----------COMMUN A TOUTES LES VUES ----------*/

*{
    font-family: "M PLUS Rounded 1c";
    margin: 0;
}

body{
    min-height: 100vh;
    position: relative;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: rgb(250,255,210);
    background: radial-gradient(circle, rgba(250,255,210,1) 0%, rgba(194,255,248,1) 100%);
}

main{
    padding-bottom: 2.5rem;
}

input{
    text-align: left;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: var(--input);
    box-shadow: 5px 4px 5px rgb(150, 150, 150);
}

h1{
    text-align: center;
}
/* Contient le submit bouton */
.button-container{
    max-width: 100%;
    display: flex;
    justify-content: center;
}

/* Le bouton en lui-même */
.submit-button{
    background-color: var(--submit-button);
    color: var(--font-submit-button);
    font-weight: 700;
    padding: 15px;
    margin-top: 15px;
    box-shadow: 5px 4px 5px rgb(165, 165, 165);
}
/*----- Palette de couleurs */
:root {
    --dark-font-color: #212121;
    --submit-button: #3DC5E2;
    --font-submit-button: #FFFFFF;
    --superAdmin-button: #DB5050;
    --solution: #a3a3a3;
    --background-gamespace: #f3eee9;
    --hover: #636363;
    --input: #ffffff;
    --button: #cfe3f7;
}

a{
    color: var(--dark-font-color);
    text-decoration: none;
}
a:hover{
    color:rgb(98, 98, 98);
}
/*---------- BARRE DE NAVIGATION ----------*/
nav {
    max-width: 100%;
    font-size: 20px;
    /* padding: 10px; */
    display: flex;
    align-items: center;
  }
  
  ul {
    list-style: none;
  }
  
  li {
    display: inline-block;
    margin-right: 20px;
  }

  /* Contient le menu déroulant */
  .dropdown-container{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  /* Styles pour le menu déroulant */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content li {
    display: block;
  }
/* Le logo Ability */
.logo{
    max-width: 200px;
    padding-left: 10px;
}
/* Contient tous les éléments de navigation */
.navigation{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    justify-content: right;
}

/* Rond de couleur */
.user-color{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #1E1E1E;
    margin-right: 30px;
}

.user-color-dropdown{
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

.utilisateur-dropdown{
    font-size: 15px;
}
/*---------- FOOTER ----------*/

footer{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    min-height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.socials{
    display: flex;
    justify-content: center;
    font-size: 30px;
}

#social-item{
    margin-right: 15px;
    color: var(--dark-font-color);
}

#social-item:hover{
    color:rgb(98, 98, 98);
}
/*---------- VUE CONNEXION ----------*/

.connexion-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

/* Contient les deux formulaires */
.viewConnexion-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 20px;
    color: var(--dark-font-color);
}

/* Formulaire d'inscription */
.inscription-container-form{
    /* max-width: 50%;
    margin-right: 150px; */
    text-align: center;
}

/* Ligne séparatrice */
.vertical-line{
    border-left: 2px solid var(--dark-font-color);
    display: inline-block;
    height: 450px;
  }

/* Formulaire de connexion */
.connexion-container-form{
    max-width: 50%;
    margin-left: 150px;
    text-align: center;
}

/* Contient label + inputs */
.form-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    margin: 20px;
    font-weight: 500;
}

.mdp-oublie{
    font-size: 10px;
    margin-top: 10px;
}

.nom-couleur{
    display: flex;
    flex-direction: row;
}

#color{
    min-height: 40px;
    min-width: 70px;
    border-radius: 10px;
    padding: 5px;
}

.login-container-form{
    display: flex;
    justify-content: center;
}
/*---------- VUE LANDING PAGE JEU ----------*/
/* Contient toutes les cartes jeux */
.landingPage{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: left;
}

/* Carte jeu (Nom_jeu + img + consigne + categories) */
.gameCard{
    min-width: 300px;
    min-height: 350px;
    margin: 50px;
    border-radius: 5px;
    background-color: var(--background-gamespace);
    margin-bottom: 50px;
    text-align: center;
    padding: 20px;
    box-shadow: 5px 4px 5px rgb(160, 160, 160);
    transition: 0.7s;
}

.gameCard:hover{
    transform: translateY(-20px);
    transition: 0.7s;
}

/*--------- VUE CATEGORIE ---------*/
.categorie{
    max-width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.h1-categorie{
    font-size: 25px;
    margin-left: 100px;
}

.categorie-container{
    max-width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    text-align: center;
    align-items:end;
    margin-bottom: 50px;
}

.categorie-card{
    min-width: 200px;
    min-height: 200px;
    background-color: #ffffff;
    font-weight: 500;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 20px 35px 20px 35px;
    padding: 10px;
    box-shadow: 5px 4px 5px rgb(158, 158, 158);
    transition: 0.7s;
}
.categorie-card:hover{
    transform: translateY(-20px);
    transition: 0.7s;
}

/* ---------- VUE CONNEXION ADMIN ET SUPERADMIN ----------*/
.admin-connexion-container{
    max-width: 100%;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.admin-connexion-h1{
    text-align: center;
    margin: 15px;
}

.admin-connexion-password{
    width: 400px;
}

.admin-connexion-button{
    background-color: #DB5050;
    color: var(--font-submit-button);
    font-weight: 700;
    padding: 15px;
    margin-top: 15px;
    box-shadow: 5px 4px 5px rgb(165, 165, 165);
    border: none;
    border-radius: 10px ;
}

.admin-connexion-superadmin{
    color: var(--font-submit-button);
}

/* --------- VUE PARAMETRES ---------*/

/* La section paramètres */
.paramètres{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* (Foreach utilisateur) Contient tous les utilisateurs */
.choix-utilisateur{
    width: fit-content;
    border-radius: 5px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    background-color: var(--background-gamespace);
}

/* La ligne de la couleur et du pseudo de l'utilisateur */
.couleur-et-utilisateur{
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
}

/* Les icones modification et suppression */
.operation{
    text-align: right;
    padding: 10px;
    color: var(--dark-font-color);
}

/* Bouton pour ajouter un utilisateur */
.parametre-button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    background: var(--button);
    box-shadow: 5px 4px 5px rgb(165, 165, 165);
    margin: 10px;
}